@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* ================ Cores ================ */

:root{
    --tom-1: 0; /* branco */
    --tom-2: 208; /* azul claro */
    --tom-3: 222; /* azul escuro */
    --tom-4: 47; /* amarelo */
    --tom-5: 257; /* escuro */
    --cor-principal-2: hsl(var(--tom-2), 76%, 44%);
    --cor-principal-escuro-2: hsl(var(--tom-2), 68%, 31%);
    --cor-principal-3: hsl(var(--tom-3), 72%, 28%);
    --cor-principal-escuro-3: hsl(var(--tom-3), 81%, 23%);
    --cor-principal-4: hsl(var(--tom-4), 100%, 61%);
    --cor-principal-escuro-4: hsl(var(--tom-4), 82%, 55%);

    --section-padding: 7rem;
}

body{
    --cor-fundo: hsl(var(--tom-1), 0%, 94%);
    --cor-fundo-1: hsl(var(--tom-1), 0%, 90%);
    --cor-fundo-2: #fff;
    --cor-fundo-3: hsl(var(--tom-1), 0%, 98%);
    --cor-fundo-transparente: rgba(255, 255, 255, 0.6);
    --cor-titulo: hsl(var(--tom-3), 72%, 28%);
    --cor-texto: hsl(var(--tom-1), 0%, 52%);
    --cor-texto-destaque: hsl(var(--tom-1), 0%, 30%);
}

body.escuro{
    --cor-fundo: hsl(var(--tom-5), 19%, 15%);
    --cor-fundo-1: hsl(var(--tom-5), 21%, 11%);
    --cor-fundo-2: hsl(var(--tom-5), 23%, 19%);
    --cor-fundo-3: hsl(var(--tom-5), 23%, 24%);
    --cor-fundo-transparente: hsla(var(--tom-5), 23%, 19%, 0.6);
    --cor-titulo: hsl(var(--tom-5), 100%, 95%);
    --cor-texto: hsl(var(--tom-5), 14%, 60%);
    --cor-texto-destaque: hsl(var(--tom-5), 14%, 75%);
}

body.escuro .st1{
    fill: hsl(var(--tom-5), 18%, 29%);
}

body.escuro .forma.quadrado{
    opacity: 0.07;
}

body.escuro .toggle-btn{
    background-color: var(--cor-fundo-3)
}

body.escuro .toggle-btn:hover{
    background-color: brightness(110%);
}

body.escuro .nav-link:hover::after, 
body.escuro .nav-link.active::after{
    opacity: 0.6;
}

body.escuro .input-form:hover{
    filter: brightness(110%);
}

/* ================ Geral ================ */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: var(--cor-fundo);
    font-family: "Poppins", sans-serif;
    transition: 0.3s background-color;
}

::selection{
    background-color: hsla(var(--tom-1), 100%, 60%, 0.75);
    color: #fff;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    position: relative;
    width: 100%;
    max-width: 80rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

/* ================ Barra de navegação ================ */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}

header.scrolled{
    background-color: var(--cor-fundo-transparente);
    box-shadow: 0 5px 10px 0.1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
}


nav.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    margin-right: 1.5rem;
    height: 120px;
    line-height: 120px;
    font-family: "Abril Fatface", cursive;
    font-size: 2rem;
    color: var(--cor-titulo);
    letter-spacing: 1px;
    transition: 0.3s;
}

.logo span{
    color: var(--cor-principal-2);
}

header .logo{
    height: 120px;
    line-height: 120px;
}

header.scrolled .logo{
    height: 80px;
    line-height: 80px;
}

.links{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.links ul{
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-link{
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    color: var(--cor-texto);
    font-weight: 600;
    opacity: 0.9;
    transition: 0.3s;
}

.nav-link::after{
    content:"";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: var(--cor-principal-2);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

.nav-link:hover, 
.nav-link.active{
    color: var(--cor-titulo);
}

.nav-link:hover::after, 
.nav-link.active::after{
    width: 100%;
    opacity: 0.2;
}

.toggle-btn{
    color: var(--cor-titulo);
    min-width: 40px;
    height: 40px;
    background-color: var(--cor-fundo-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    margin-right: 1rem;
}

.toggle-btn:hover{
    filter: brightness(97%);
}

.hamburguer{
    display: none;
    padding: 1rem 0;
    height: 12px;
    width: 25px;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
}

.hamburguer .bar{
    width: 100%;
    height: 2px;
    background-color: var(--cor-titulo);
    border-radius: 3px;
    position: absolute;
}

.hamburguer .bar:first-child{
    top: 1rem;
    transition: top 0.2s 0.15s, transform 0.3s;
}

.hamburguer .bar:last-child{
    bottom: 1rem;
    transition: bottom 0.2s 0.15s, transform 0.3s;
}

body.open .hamburguer .bar:first-child{
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
}

body.open .hamburguer .bar:last-child{
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: bottom 0.2s, transform 0.3s 0.1s;
}

/* ================ Inicio ================ */

.inicio-area{
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.inicio-area .container{
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh - 120px);
    height: 600px;
    align-items: center;
}

.inicio-area .sub-titulo{
    margin-bottom: 0.7rem;
}

.inicio-area .titulo{
    font-size: 3.5rem;
}

.inicio-area .texto{
    font-size: 0.8rem 0;
}

.sub-titulo{
    color: var(--cor-principal-2);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--cor-principal-4);
    padding: 0.13rem 0.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    transition: 0.3s color;
}

.titulo{
    color: var(--cor-titulo);
    font-size: 3rem;
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    line-height: 1.3;
    transition: 0.3s color;
}

.texto{
    color: var(--cor-texto);
    font-size: 0.9rem;
    margin: 1rem 0;
    line-height: 2.3;
    transition: 0.3s color;
}

.cta{
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.cta .btn{
    margin-right: 1.5rem;
}

.btn{
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 17px;
    background-color: var(--cor-principal-2);
    color: #fff;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    min-width: 125px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--cor-principal-escuro-2);
}

.btn.secondary-btn{
    position: relative;
    background-color: transparent;
    color: var(--cor-principal-2);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--cor-principal-4);
    border-radius: 0px;
    padding: 0.15rem 0;
    min-width: revert;
}

.btn.secondary-btn::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--cor-principal-2);
    transition: 0.3s ease-in-out;
}

.btn.secondary-btn:hover::before{
    width: 100%;
}

.inicio-imagem{
    position: relative;
    width: 100%;
    min-height: calc(100% + 120px);
    background-image: linear-gradient(
        124deg, 
        var(--cor-principal-2) 53%, 
        var(--cor-principal-4) 53%
        );
    margin-top: -120px;
    border-radius: 0 0 80px 80px;
}

.inicio-imagem .webdev{
    position: absolute;
    width: 80%;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.pontos{
    width: 85px;
    opacity: 0.8;
}

.quadrado{
    width: 70px;
    opacity: 0.85;
    transition: 0.3s opacity;
}

.inicio-area .pontos{
    position: absolute;
    left: 100%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.inicio-area .circulo{
    position: absolute;
    width: 190px;
    left: 0;
    top: 80%;
    transform: translate(-50%, -50%);
}

.inicio-area .quadrado{
    position: absolute;
    left: 30%;
    bottom: 10px;
    transform: translate(-50%, -50%);
}

/* ================ Sobre Mim ================ */

.section{
    position: relative;
    padding: var(--section-padding) 0;
}

.sobremim .container{
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    align-items: center;
}

.sobremim .texto{
    margin: 3rem 0 3rem;
}

.sobremim-grid{
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 190px 190px;
    justify-content: center;
    column-gap: 2.5rem;
    row-gap: 100px;
    margin-right: 2rem;
    position: relative;
}

.sobremim-card{
    background-color: var(--cor-fundo-2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s transform, 0.3s background-color;
    
}

.sobremim-card:nth-child(1){
    border-radius: 40px 40px 5px 40px;
}

.sobremim-card:nth-child(2){
    margin-top: 50px;
    border-radius: 40px 40px 40px 5px;
}

.sobremim-card:nth-child(3){
    margin-top: -50px;
    border-radius: 40px 5px 40px 40px;
}

.sobremim-card:nth-child(4){
    border-radius: 5px 40px 40px 40px;
}

.icon{
    width: 70px;
}

.st0{
    fill: var(--cor-fundo-3);
    transition: 0.3s fill;
}

.st1{
    fill: #c5e3ea;
    transition: 0.3s fill;
}

.st2{
    fill: var(--cor-titulo);
    transition: 0.3s;
    transition: 0.3s fill;
}

.sobremim-card h3{
    color: var(--cor-titulo);
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 1rem;
    letter-spacing: 0.3px;
    transition: 0.3s color;
}

.sobremim-card:hover{
    transform: scale(1.1);
}

.sobremim-card:hover .st2{
    fill: var(--cor-principal-2);
}

.sobremim-grid::before{
    content: "";
    position: absolute;
    width: 230px;
    height: 230px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 20px solid var(--cor-principal-2);
    z-index: -1;
    opacity: 0.07;
}

.triangulo{
    width: 95px;
    opacity: 0.18;
}

.sobremim .triangulo{
    position: absolute;
    left: 87.5%;
    top: 25%;
    transform: translate(-50%, -50%)
}

/* ================ Conhecimentos ================ */

.conhecimentos{
    overflow: hidden;
}

.caixa-conhecimentos{
    background-color:var(--cor-fundo-2);
    padding: 5rem 6rem;
    border-radius: 20px;
    width: 100%;
    position: relative;
    transition: 0.3s background-color;
}

.caixa-desc{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 2rem;
}

.caixa-desc .texto span{
    color: var(--cor-texto-destaque);
    font-weight: 400;
}

.conhecimentos-wrap{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    margin-top: 2rem;
    justify-content: space-between;
}

.conhecimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conh-progresso{
    width: 150px;
    height: 150px;
    position: relative;
}

.conh-progresso svg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.conh-progresso svg circle{
    fill: var(--cor-fundo-3);
    stroke-width: 5px;
    stroke: var(--cor-principal-2);
    stroke-linecap: round;
    stroke-dasharray: 427;
    stroke-dashoffset: 427;
    transition: 0.3s;
}

@keyframes progress{
    to{
        stroke-dashoffset: var(--target);
    }
}

.contador{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--cor-titulo);
    font-weight: 400;
    font-size: 0.9rem;
    transition: 0.3s color;
}

.contador span{
    font-size: 2.45rem;
}

.conh-titulo{
    color: var(--cor-titulo);
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 1.3rem;
    transition: 0.3s color;
}

.conhecimentos .pontos{
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.conhecimentos .quadrado{
    position: absolute;
    left: 100%;
    top: 75%;
    transform: translate(-50%, -50%);
}

/* ================ Projetos ================ */

.projetos .container{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 6rem;
    align-items: center;
}

.conquistas{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.conquistas h2{
    color: var(--cor-principal-2);
    font-size: 1.3rem;
    transition: 0.3s color;
}

.conquistas h2 span{
    font-size: 2rem;
    line-height: 1.2;
    margin-right: 0.1rem;
    transition: 0.3s color;
}

.conquistas h5{
    color: var(--cor-titulo);
    line-height: 0.9;
    font-weight: 500;
    font-size: 0.95rem;
    transition: 0.3s color;
}

.projetos-grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4.4rem;
}

.proj-card{
    background-color: var(--cor-fundo-2);
    border-radius: 15px;
    padding: 2.5rem 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 280px;
    transition: 0.3s background-color;
}

.proj-card h3{
    color: var(--cor-titulo);
    font-weight: 500;
    font-size: 1.03rem;
    transition: 0.3s color;
}

.proj-card .texto{
    margin: 0.7rem 0;
    font-size: 0.85rem;
}

.proj-card .btn.secondary-btn{
    font-size: 1.05rem;
}

.proj-card:nth-child(2){
    transform: translateY(2.2rem);
}

.proj-card:nth-child(3){
    transform: translateY(-2.2rem);
}

.projetos-grid::before{
    content: "";
    position: absolute;
    width: 275px;
    height: 275px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 20px solid var(--cor-principal-2);
    z-index: -1;
    opacity: 0.07;
}

.projetos .triangulo{
    top: 100%;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -100%);
}

.projetos .quadrado{
    top: 75%;
    left: -15px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* ================ Contatos ================ */

.contatos .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}

.redessociais-link{
    color: var(--cor-principal-2);
    font-weight: 500;
    font-size: 1.1rem;
    transition: 0.3s;
    cursor: pointer;
}

.redessociais-link span{
    display: none;
}

.redessociais-link i{
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 2px;
    transform: translateY(3px);
    transition: 0.3s margin-left;
}

.redessociais-link:hover{
    color: var(--cor-principal-escuro-2);
}

.redessociais-link:hover span{
    display: inline-block;
}

.redessociais-link:hover i{
    margin-left: 7.5px;
}

.copiar-texto ul p{
    display: none;
}

.contatos-info ul{
    display: flex;
    flex-direction: column;
}

.contatos-form{
    background-color: var(--cor-fundo-2);
    border-radius: 20px;
    padding: 3.5rem 3rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s background-color;
}

.contatos-form h3{
    color: var(--cor-titulo);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    line-height: 0.9;
    transition: 0.3s color;
}

.input-form-name{
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: var(--cor-fundo-3);
    border: 2px solid var(--cor-fundo-3);
    width: 100%;
    border-radius: 17px;
    font-family: inherit;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--cor-titulo);
    outline: none;
    transition: 0.3s;
}

.input-form-name::placeholder{
    color: var(--cor-texto);
}

.input-form-name:hover{
    filter: brightness(97%);
}

.input-form-name:valid, 
.input-form-name:focus{
    filter: brightness(100%);
    background: var(--cor-fundo-1);
    border-color: var(--cor-principal-2);
}

textarea.input-form-name{
    resize: none;
    min-height: 170px;
}

.contatos-form .input-form-name{
    margin-bottom: 1.2rem;
}

.input-form-email{
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: var(--cor-fundo-3);
    border: 2px solid var(--cor-fundo-3);
    width: 100%;
    border-radius: 17px;
    font-family: inherit;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--cor-titulo);
    outline: none;
    transition: 0.3s;
}

.input-form-email::placeholder{
    color: var(--cor-texto);
}

.input-form-email:hover{
    filter: brightness(97%);
}

.input-form-email:valid, 
.input-form-email:focus{
    filter: brightness(100%);
    background: var(--cor-fundo-1);
    border-color: var(--cor-principal-2);
}

textarea.input-form-email{
    resize: none;
    min-height: 170px;
}

.contatos-form .input-form-email{
    margin-bottom: 1.2rem;
}

.input-form-msg{
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: var(--cor-fundo-3);
    border: 2px solid var(--cor-fundo-3);
    width: 100%;
    border-radius: 17px;
    font-family: inherit;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--cor-titulo);
    outline: none;
    transition: 0.3s;
}

.input-form-msg::placeholder{
    color: var(--cor-texto);
}

.input-form-msg:hover{
    filter: brightness(97%);
}

.input-form-msg:valid, 
.input-form-msg:focus{
    filter: brightness(100%);
    background: var(--cor-fundo-1);
    border-color: var(--cor-principal-2);
}

textarea.input-form-msg{
    resize: none;
    min-height: 170px;
}

.contatos-form .input-form-msg{
    margin-bottom: 1.2rem;
}

.contatos .quadrado{
    position: absolute;
    left: 30%;
    bottom: 10%;
    transform: translate(-50%, -50%);
}

.contatos .triangulo{
    position: absolute;
    left: 90%;
    top: 98%;
    transform: translate(-50%, -50%);
}


/* ================ Rodapé ================ */

footer{
    padding: 0rem 0;
}

footer p{
    padding-top: 10px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .redes-sociais{
    display: flex;
}

footer .redes-sociais p{
    display: none;
}

.links-redes{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: var(--cor-fundo-1);
    color: var(--cor-principal-3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.links-redes .copiar-texto p{
    display: none;
}

.links-redes i{
    font-size: 1.5rem;
}

.links-redes:hover{
    color: var(--cor-principal-2);
}

/* ================ 1000px ================ */

@media(max-width: 1000px){
    .sub-titulo{
        font-size: 0.75rem;
    }

    .titulo{
        font-size: 2rem;
    }

    .inicio-area .titulo{
        font-size: 2.7rem;
    }

    .texto{
        font-size: 0.84rem;
        margin: 1.3rem 0;
    }

    .btn{
        padding: 0.8rem 1.6rem;
        font-size: 0.8rem;
        border-radius: 15px;
        min-width: 100px;
    }

    .btn.secondary-btn{
        font-size: 0.85rem;
    }

    .input-form{
        padding: 0.8rem 1.45rem;
        border-radius: 15px;
        font-size: 0.8rem;
    }

    .logo{
        font-size: 1.6rem;
    }

    header .logo{
        height: 100px;
        line-height: 100px;
    }

    .nav-link{
        font-size: 0.7rem;
    }

    .inicio-area{
        padding: 100px 0;
    }

    .inicio-area .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    .caixa-conhecimentos{
        padding: 4rem;
    }

    .conh-progresso{
        transform: scale(0.85);
    }

    .projetos .container{
        column-gap: 2.5rem;
    }

    .contatos .container{
        column-gap: 2.5rem;
    }

    .contatos-form{
        padding: 2.5rem 2rem;
    }

    .contatos-form h3{
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .contatos .input-form{
        margin-bottom: 0.8rem;
    }

    /*--------*/
    
    .inicio-area .titulo{
        font-size: 2.7rem;
    }

    .inicio-area{
        padding: 100px 0;
    }

    .inicio-area .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    /*--------*/
    
    .escola-informacoes .titulo{
        font-size: 2.7rem;
    }

    .escola-informacoes{
        padding: 100px 0;
    }

    .escola-informacoes .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    /*--------*/
    
    .faculdade-informacoes .titulo{
        font-size: 2.7rem;
    }

    .faculdade-informacoes{
        padding: 100px 0;
    }

    .faculdade-informacoes .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    /*--------*/
    
    .thomas-informacoes .titulo{
        font-size: 2.7rem;
    }

    .thomas-informacoes{
        padding: 100px 0;
    }

    .thomas-informacoes .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    .thomas-informacoes .texto{
        font-size: 0.9rem;
    }

    /*--------*/
    
    .cursowebdev-informacoes .titulo{
        font-size: 2.7rem;
    }

    .cursowebdev-informacoes{
        padding: 100px 0;
    }

    .cursowebdev-informacoes .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    /*--------*/
    
    .cursolp-informacoes .titulo{
        font-size: 2.7rem;
    }

    .cursolp-informacoes{
        padding: 100px 0;
    }

    .cursolp-informacoes .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    /*--------*/
    
    .cursotic-informacoes .titulo{
        font-size: 2.7rem;
    }

    .cursotic-informacoes{
        padding: 100px 0;
    }

    .cursotic-informacoes .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    /*--------*/
    
    .projetoappmatricula-informacoes .titulo{
        font-size: 2.7rem;
    }

    .projetoappmatricula-informacoes{
        padding: 100px 0;
    }

    .projetoappmatricula-informacoes .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    /*--------*/
    
    .projetojogoprisao-informacoes .titulo{
        font-size: 2.7rem;
    }

    .projetojogoprisao-informacoes{
        padding: 100px 0;
    }

    .projetojogoprisao-informacoes .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    /*--------*/
    
    .projetoirrigadorautomatico-informacoes .titulo{
        font-size: 2.7rem;
    }

    .projetoirrigadorautomatico-informacoes{
        padding: 100px 0;
    }

    .projetoirrigadorautomatico-informacoes .container{
        grid-template-columns: 1fr 400px;
        height: 450px;
    }
}

/* ================ 768px ================ */

@media(max-width: 768px){
    :root{
        --section-padding: 4.5rem;
    }

    .pontos{
        width: 65px;
    }
    
    .quadrado{
        width: 55px;
    }

    .triangulo{
        width: 70px;
    }

    .hamburguer{
        display: block;
    }

    header nav{
        justify-content: space-between;
    }

    .links{
        order: 3;
        flex-basis: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0 2rem;
        opacity: 0;
        transition: 0.3s;
    }

    .links ul{
        position: relative;
        flex-direction: column;
    }

    .links ul::after{
        content: "";
        position: absolute;
        width: 0%;
        height: 0.5px;
        background-color: var(--cor-titulo);
        opacity: 0;
        top: -0.5rem;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
    }

    .nav-link{
        margin: 1.5rem 0;
        color: var(--cor-titulo);
        font-weight: 500;
    }

    .toggle-btn{
        margin: 0;
    }

    .overlay{
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 6;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
    }

    header{
        height: 505px;
        max-height: 100px;
        overflow: hidden;
    }
    
    header.scrolled{
        height: 485px;
        max-height: 80px;
    }

    body.open header{
        max-height: 505px;
        background-color: var(--cor-fundo-2);
    }

    body.open header.scrolled{
        max-height: 485px;
    }

    body.open .overlay{
        opacity: 1;
        pointer-events: auto;
    }

    body.open .links ul::after{
        opacity: 0.7;
        width: 100%;
    }

    body.open .links{
        opacity: 1;
    }

    .inicio-area .container{
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;
    }

    .inicio-imagem{
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        width: 450px;
        margin-top: 0px;
        border-radius: 40px;
    }

    .inicio-informacoes{
        width: 100%;
        margin-top: 1rem;
    }

    .inicio-area .texto{
        margin: 0.2rem 0;
    }

    .cta{
        margin-top: 1rem;
    }

    .inicio-area .circulo{
        width: 120px;
    }

    .inicio-area .quadrado{
        left: 80%;
        top: 20%;
    }

    .sobremim .container{
        grid-template-columns: 1fr;
    }

    .sobremim-grid{
        order: 3;
    }

    .titulo br{
        display: none;
    }

    .sobremim .texto{
        margin: 1rem 0 1.5rem;
    }

    .sobremim-grid{
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px;
        margin: 2.5rem 0 0 0;
        column-gap: 2rem;
        row-gap: 80px;
    }

    .icon{
        width: 50px;
    }

    .sobremim-card h3{
        font-size: 0.85rem;
        margin-top: 0.5rem;
    }

    .sobremim-grid::before{
        width: 150px;
        height: 150px;
        border-width: 10px;
    }

    .caixa-desc{
        grid-template-columns: 1fr;
        justify-items: flex-start;
    }

    .conhecimentos-wrap{
        grid-template-columns: repeat(2, 130px);
        row-gap: 1rem;
    }

    .conh-titulo{
        margin-top: 0;
    }

    .projetos .container{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .projetos .texto{
        margin: 1.5rem 0 0.5rem;
    }

    .projetos-grid{
        margin-top: 3.5rem;
        column-gap: 1.5rem;
        row-gap: 3.5rem;
        max-width: 600px;
    }

    .proj-card{
        padding: 1.8rem 1.7rem;
        min-height: 260px;
    }

    .proj-card h3{
        font-size: 0.9rem;
    }

    .proj-card .texto{
        margin: 0.4rem 0 0.8rem;
    }

    .contatos .container{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .contatos .quadrado{
        width: 60px;
        bottom: 68%;
        left: 75%;
    }

    .contatos .triangulo{
        left: 20%;
        top: 101%;
    }

    /*--------*/
    
    .escola .container{
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;
    }

    .escola-imagem{
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        width: 450px;
        margin-top: 0px;
        border-radius: 40px;
    }

    .escola-informacoes{
        width: 100%;
        margin-top: 1rem;
    }

    .escola .texto{
        margin: 0.2rem 0;
    }

    .escola .circulo{
        width: 120px;
    }

    .escola .quadrado{
        left: 80%;
        top: 20%;
    }

    /*--------*/
    
    .faculdade .container{
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;
    }

    .faculdade-imagem{
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        width: 450px;
        margin-top: 0px;
        border-radius: 40px;
    }

    .faculdade-informacoes{
        width: 100%;
        margin-top: 1rem;
    }

    .faculdade .texto{
        margin: 0.2rem 0;
    }

    .faculdade .circulo{
        width: 120px;
    }

    .faculdade .quadrado{
        left: 80%;
        top: 20%;
    }

    /*--------*/

    .thomas-imagem{
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        width: 450px;
        margin-top: 0px;
        border-radius: 40px;
    }

    .thomas-informacoes{
        width: 100%;
        margin-top: 1rem;
    }

    /*--------*/
    
    .cursowebdev .container{
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;
    }

    .cursowebdev-imagem{
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        width: 450px;
        margin-top: 0px;
        border-radius: 40px;
    }

    .cursowebdev-informacoes{
        width: 100%;
        margin-top: 1rem;
    }

    .cursowebdev .texto{
        margin: 0.2rem 0;
    }

    .cursowebdev .circulo{
        width: 120px;
    }

    .cursowebdev .quadrado{
        left: 80%;
        top: 20%;
    }

    /*--------*/
    
    .cursolp .container{
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;
    }

    .cursolp-imagem{
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        width: 450px;
        margin-top: 0px;
        border-radius: 40px;
    }

    .cursolp-informacoes{
        width: 100%;
        margin-top: 1rem;
    }

    .cursolp .texto{
        margin: 0.2rem 0;
    }

    .cursolp .circulo{
        width: 120px;
    }

    .cursolp .quadrado{
        left: 80%;
        top: 20%;
    }

    /*--------*/
    
    .cursotic .container{
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;
    }

    .cursotic-imagem{
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        width: 450px;
        margin-top: 0px;
        border-radius: 40px;
    }

    .cursotic-informacoes{
        width: 100%;
        margin-top: 1rem;
    }

    .cursotic .texto{
        margin: 0.2rem 0;
    }

    .cursotic .circulo{
        width: 120px;
    }

    .cursotic .quadrado{
        left: 80%;
        top: 20%;
    }

    /*--------*/
    
    .projetoirrigadorautomatico .container{
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;
    }

    .projetoirrigadorautomatico-imagem{
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        width: 450px;
        margin-top: 0px;
        border-radius: 40px;
    }

    .projetoirrigadorautomatico-informacoes{
        width: 100%;
        margin-top: 1rem;
    }

    .projetoirrigadorautomatico .texto{
        margin: 0.2rem 0;
    }

    .projetoirrigadorautomatico .circulo{
        width: 120px;
    }

    .projetoirrigadorautomatico .quadrado{
        left: 80%;
        top: 20%;
    }

    /*--------*/
    
    .projetojogoprisao .container{
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;
    }

    .projetojogoprisao-imagem{
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        width: 450px;
        margin-top: 0px;
        border-radius: 40px;
    }

    .projetojogoprisao-informacoes{
        width: 100%;
        margin-top: 1rem;
    }

    .projetojogoprisao .texto{
        margin: 0.2rem 0;
    }

    .projetojogoprisao .circulo{
        width: 120px;
    }

    .projetojogoprisao .quadrado{
        left: 80%;
        top: 20%;
    }
    
    /*--------*/
    
    .projetoappmatricula .container{
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;
    }

    .projetoappmatricula-imagem{
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        width: 450px;
        margin-top: 0px;
        border-radius: 40px;
    }

    .projetoappmatricula-informacoes{
        width: 100%;
        margin-top: 1rem;
    }

    .projetoappmatricula .texto{
        margin: 0.2rem 0;
    }

    .projetoappmatricula .circulo{
        width: 120px;
    }

    .projetoappmatricula .quadrado{
        left: 80%;
        top: 20%;
    }
}

/* ================ 500px ================ */

@media(max-width: 500px){
    .container{
        padding: 0 1rem;
    }

    .inicio-area .quadrado{
        display: none;
    }

    .inicio-area .container{
        row-gap: 4.5rem;
    }

    .inicio-area .titulo{
        font-size: 2.4rem;
    }

    .sobremim-card h3{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .caixa-conhecimentos{
        padding: 3rem 2.5rem;
    }

    .conhecimentos-wrap{
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    .projetos-grid{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .proj-card{
        transform: none !important;
        min-height: auto;
    }

    .contatos-form p{
        font-size: 1.2rem;
    }

    footer{
        padding: var(--section-padding) 0 1rem;
    }

    footer .texto{
        order: 3;
        flex-basis: 100%;
        text-align: center;
        margin-top: 1rem;
    }
}

/* ================ 450px ================ */

@media(max-width: 450px){
    .container{
        width: 414px;
    }
    
    header{ 
        width: 414px;
    }

    .logo{
        margin-left: 20px;
    }
    
    footer .logo{
        margin-left: 180px;
    }

    .inicio-area{
        margin-left: 20px;
    }
    
    .inicio-imagem{
        width: 95%;
        margin-left: 0px;
    }

    .inicio-imagem .webdev{
        position: absolute;
        width: 80%;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .sobremim-informacoes{
        margin-left: 15px;
    }

    .caixa-conhecimentos{
        margin-left: 20px;
    }

    .projetos{
        margin-left: 25px;
    }

    .contatos{
        margin-left: 25px;
    }

    .escola-informacoes{
        margin-left: 20px;
    }
    
    .escola-imagem{
        width: 95%;
        margin-left: 0px;
    }

    .escola-imagem .marista{
        position: absolute;
        width: 80%;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .faculdade-informacoes{
        margin-left: 20px;
    }
    
    .faculdade-imagem{
        width: 95%;
        margin-left: 0px;
    }

    .faculdade-imagem .unb{
        position: absolute;
        width: 80%;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .thomas-informacoes{
        margin-left: 20px;
    }
    
    .thomas-imagem{
        width: 95%;
        margin-left: 0px;
    }

    .thomas-imagem .thomas{
        position: absolute;
        width: 80%;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* ================ 400px ================ */

@media(max-width: 400px){
    .inicio-imagem{
        width: 90%;
        margin-left: 30px;
    }
    
    .inicio-imagem .webdev{
        margin-bottom: 30px;
    }
    
    .escola-imagem{
        width: 90%;
        margin-left: 30px;
    }
    
    .escola-imagem .marista{
        margin-bottom: 30px;
    }
    
    .faculdade-imagem{
        width: 90%;
        margin-left: 30px;
    }
    
    .unb{
        margin-bottom: 30px;
    }
    
    .thomas-imagem{
        width: 90%;
        margin-left: 30px;
    }
    
    .thomas-imagem .thomas{
        margin-bottom: 30px;
    }
    
    .cursowebdev-imagem{
        width: 90%;
        margin-left: 30px;
    }
    
    .cursowebdev-imagem .udemy{
        margin-bottom: 30px;
    }
    
    .cursolp-imagem{
        width: 90%;
        margin-left: 30px;
    }
    
    .cursolp-imagem .senai{
        margin-bottom: 30px;
    }
    
    .cursotic-imagem{
        width: 90%;
        margin-left: 30px;
    }
    
    .cursotic-imagem .senai{
        margin-bottom: 30px;
    }
    
    .projetoappmatricula-imagem{
        width: 90%;
        margin-left: 30px;
    }
    
    .projetoappmatricula-imagem .projetoapp{
        margin-bottom: 30px;
    }
    
    .projetojogoprisao-imagem{
        width: 90%;
        margin-left: 30px;
    }
    
    .projetojogoprisao-imagem .projetojogo{
        margin-bottom: 30px;
    }
    
    .projetoirrigadorautomatico-imagem{
        width: 90%;
        margin-left: 30px;
    }
    
    .projetoirrigadorautomatico-imagem .projetoirrigador{
        margin-bottom: 30px;
    }
}

/* ================ Histórico Escolar ================ */

.escola{
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.escola .container{
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh - 120px);
    height: 600px;
    align-items: center;
}

.escola .sub-titulo{
    margin-bottom: 0.7rem;
}

.escola .titulo{
    font-size: 3.5rem;
}

.escola .texto{
    font-size: 0.8rem 0;
}

.escola-imagem{
    position: relative;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(
        124deg, 
        var(--cor-principal-escuro-4) 53%,
        var(--cor-principal-4) 53%
        );
    margin-left: 100px;
    border-radius: 80px 80px 80px 80px;
}

.escola-imagem .marista{
    position: absolute;
    width: 85%;
    left: 50%;
    top: 21%;
    transform: translateX(-50%);
}

.escola .pontos{
    position: absolute;
    width: 100px;
    left: 70%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.escola .circulo{
    position: absolute;
    width: 150px;
    left: 0;
    top: 25%;
    transform: translate(-50%, -50%);
}

.escola .quadrado{
    position: absolute;
    left: 42.5%;
    bottom: 75px;
    transform: translate(-50%, -50%);
}

.section{
    position: relative;
    padding: var(--section-padding) 0;
}

.faculdade .container{
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    align-items: center;
}

.faculdade .texto{
    margin: 3rem 0 3rem;
}

.faculdade-informacoes h1{
    font-size: 3.2rem;
}


.faculdade-imagem{
    position: relative;
    margin-left: 15%;
}

.unb{
    width: 75%;
}

.faculdade .triangulo{
    position: absolute;
    left: 85%;
    top: -5%;
    transform: translate(-50%, -50%)
}

.thomas-informacoes h1{
    font-size: 3.5rem;
}

.thomas-informacoes .texto{
    font-size: 1.1rem;
}

.thomas-imagem{
    position: relative;
    width: 380px;
    height: 380px;
    background-image: linear-gradient(
        124deg, 
        var(--cor-principal-escuro-4) 53%,
        var(--cor-principal-4) 53%
        );
    margin-left: 130px;
    border-radius: 80px 80px 80px 80px;
}

.thomas-imagem .thomas{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}

.faculdade .pontos{
    position: absolute;
    width: 130px;
    left: 9%;
    top: 75%;
    transform: translate(-50%, -50%);
    transform: rotate(42deg);
}

.faculdade .quadrado{
    position: absolute;
    width: 80px;
    left: 43%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}

/* ================ Experiências ================ */

.escola{
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.escola .container{
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh - 120px);
    height: 600px;
    align-items: center;
}

.escola .sub-titulo{
    margin-bottom: 0.7rem;
}

.escola .titulo{
    font-size: 3.5rem;
}

.escola .texto{
    font-size: 0.8rem 0;
}

.escola-imagem{
    position: relative;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(
        124deg, 
        var(--cor-principal-escuro-4) 53%,
        var(--cor-principal-4) 53%
        );
    margin-left: 100px;
    border-radius: 80px 80px 80px 80px;
}

.experiencias1 .quadrado{
    position: absolute;
    left: 40%;
    bottom: 0px;
    width: 60px;
    transform: translate(-50%, -50%);
}

.experiencias1 .pontos{
    position: absolute;
    width: 100px;
    left: 75%;
    top: 110%;
    transform: translate(-50%, -50%);
}

.experiencias2 .pontos{
    position: absolute;
    width: 50px;
    left: 25%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.experiencias2 .triangulo{
    position: absolute;
    width: 100px;
    left: 60%;
    top: 110%;
    transform: translate(-50%, -50%);
}

.experiencias3 .quadrado{
    position: absolute;
    width: 90px;
    left: 15%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.experiencias4 .circulo{
    position: absolute;
    width: 160px;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ================ Cursos ================ */

.cursowebdev{
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cursowebdev .container{
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh - 120px);
    height: 600px;
    align-items: center;
}

.cursowebdev .sub-titulo{
    margin-bottom: 0.7rem;
}

.cursowebdev .titulo{
    font-size: 3.5rem;
}

.cursowebdev .texto{
    font-size: 0.8rem 0;
}

.cursowebdev-imagem{
    position: relative;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(
        124deg, 
        var(--cor-principal-2) 53%,
        var(--cor-principal-4) 53%
        );
    margin-left: 100px;
    border-radius: 80px 80px 80px 80px;
}

.cursowebdev-imagem .udemy{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 28%;
    margin-left: 5px;
    transform: translateX(-50%);
}

.cursowebdev .pontos{
    position: absolute;
    width: 60px;
    left: 0;
    top: 75%;
    transform: translate(-50%, -50%);
}

.cursowebdev .circulo{
    position: absolute;
    width: 150px;
    left: 100%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.cursowebdev .quadrado{
    position: absolute;
    left: 42.5%;
    bottom: 5%;
    transform: translate(-50%, -50%);
}

.section{
    position: relative;
    padding: var(--section-padding) 0;
}

.cursolp .container{
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    align-items: center;
}

.cursolp .texto{
    margin: 3rem 0 3rem;
}

.cursolp-informacoes h1{
    font-size: 3.2rem;
}

.cursolp-imagem{
    position: relative;
    width: 380px;
    height: 380px;
    background-image: linear-gradient(
        124deg, 
        var(--cor-principal-escuro-4) 53%,
        var(--cor-principal-4) 53%
        );
    margin-left: 120px;
    border-radius: 80px 80px 80px 80px;
}

.cursolp-imagem .senai{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 37%;
    transform: translateX(-50%);
}

.cursolp .pontos{
    position: absolute;
    width: 150px;
    left: 23.5%;
    top: 20.5%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.cursolp .triangulo{
    position: absolute;
    left: 15%;
    bottom: -10%;
    transform: translate(-50%, -50%)
}

.triangulo2{
    width: 95px;
    opacity: 0.18;
}

.cursolp .triangulo2{
    position: absolute;
    left: 85%;
    top: 0%;
    transform: translate(-50%, -50%)
}

.cursolp .quadrado{
    position: absolute;
    width: 80px;
    left: 80%;
    bottom: 5%;
    transform: translate(-50%, -50%); 
    transform: rotate(-90deg);
}

.cursotic .container{
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    align-items: center;
}

.cursotic-informacoes h1{
    font-size: 3rem;
}

.cursotic-imagem{
    position: relative;
    width: 380px;
    height: 380px;
    background-image: linear-gradient(
        124deg, 
        var(--cor-principal-escuro-4) 53%,
        var(--cor-principal-4) 53%
        );
    margin-left: 130px;
    border-radius: 80px 80px 80px 80px;
}

.cursotic-imagem .senai{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 34%;
    transform: translateX(-50%);
}

.cursotic .circulo{
    position: absolute;
    width: 130px;
    left: 57.6%;
    bottom: 19%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.cursotic .quadrado{
    position: absolute;
    width: 80px;
    left: 25%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}

/* ================ Projeto App Matricula ================ */

.projetoappmatricula{
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.projetoappmatricula .container{
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh - 120px);
    height: 600px;
    align-items: center;
}

.projetoappmatricula .sub-titulo{
    margin-bottom: 0.7rem;
}

.projetoappmatricula .titulo{
    font-size: 3.5rem;
}

.projetoappmatricula .texto{
    font-size: 0.8rem 0;
}

.projetoappmatricula-imagem{
    position: relative;
    width: 300px;
    height: 470px;
    background-image: linear-gradient(
        124deg, 
        var(--cor-principal-2) 53%,
        var(--cor-principal-4) 53%
        );
    margin-left: 140px;
    border-radius: 80px 80px 80px 80px;
}

.projetoappmatricula-imagem .projetoapp{
    position: absolute;
    width: 75%;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}

.projetoappmatricula .pontos{
    position: absolute;
    width: 60px;
    left: 0;
    top: 75%;
    transform: translate(-50%, -50%);
}

.projetoappmatricula .circulo{
    position: absolute;
    width: 100px;
    left: 100%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.projetoappmatricula .quadrado{
    position: absolute;
    left: 42.5%;
    bottom: 5%;
    transform: translate(-50%, -50%);
}

/* ================ Projeto Jogo Fuga da Prisão ================ */

.projetojogoprisao{
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.projetojogoprisao .container{
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh - 120px);
    height: 600px;
    align-items: center;
}

.projetojogoprisao .sub-titulo{
    margin-bottom: 0.7rem;
}

.projetojogoprisao .titulo{
    font-size: 3.5rem;
}

.projetojogoprisao .texto{
    font-size: 0.8rem 0;
}

.projetojogoprisao-imagem{
    position: relative;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(
        124deg, 
        var(--cor-principal-2) 53%,
        var(--cor-principal-4) 53%
        );
    margin-left: 100px;
    border-radius: 80px 80px 80px 80px;
}

.projetojogoprisao-imagem .projetojogo{
    position: absolute;
    width: 80%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.projetojogoprisao .pontos{
    position: absolute;
    width: 60px;
    left: 0;
    top: 25%;
    transform: translate(-50%, -50%);
}

.projetojogoprisao .circulo{
    position: absolute;
    width: 100px;
    left: 100%;
    top: 75%;
    transform: translate(-50%, -50%);
}

.projetojogoprisao .quadrado{
    position: absolute;
    left: 42.5%;
    bottom: 5%;
    transform: translate(-50%, -50%);
}

/* ================ Projeto Irrigador Automático ================ */

.projetoirrigadorautomatico{
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.projetoirrigadorautomatico .container{
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh - 120px);
    height: 600px;
    align-items: center;
}

.projetoirrigadorautomatico .sub-titulo{
    margin-bottom: 0.7rem;
}

.projetoirrigadorautomatico .titulo{
    font-size: 3.5rem;
}

.projetoirrigadorautomatico .texto{
    font-size: 0.8rem 0;
}

.projetoirrigadorautomatico-imagem{
    position: relative;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(
        124deg, 
        var(--cor-principal-2) 53%,
        var(--cor-principal-4) 53%
        );
    margin-left: 100px;
    border-radius: 80px 80px 80px 80px;
}

.projetoirrigadorautomatico-imagem .projetoirrigador{
    position: absolute;
    width: 85%;
    left: 50%;
    top: 16%;
    transform: translateX(-50%);
}

.projetoirrigadorautomatico .pontos{
    position: absolute;
    width: 110px;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.projetoirrigadorautomatico .circulo{
    position: absolute;
    width: 120px;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
}

.projetoirrigadorautomatico .quadrado{
    position: absolute;
    left: 42.5%;
    bottom: 5%;
    transform: translate(-50%, -50%);
}