@font-face {
    font-family: 'Hauora Sans';
    src: url('../../assets/fonts/otf/Hauora-Regular.otf');
}

/* ============== Geral ============== */

* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

html, body #fullheight {
    min-height: 100% !important;
    height: 100%;
    font-family: 'Hauora Sans', Arial, Helvetica, sans-serif;
    background-color: rgb(33, 33, 33); 
    color: white;
}

.container {
    height: 100%;
    padding: 100px;
    background-color: rgb(33, 33, 33);
    font-family: 'Hauora Sans', Arial, Helvetica, sans-serif;
}

/* ============== Botoes ============== */

.aplicativos {
    width: 100%;
    height: 100%;
    background-color: rgb(33, 33, 33);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    width: 75%;
    color: white;
    padding: 10px;
    margin: 9px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    border-radius: 7px;
    border-color: white;
    box-shadow: 2px 2px rgb(59, 59, 59);
    text-decoration: none;
}

svg {
    width: 35px;
    height: 35px;
    padding-right: 7px;
}

.svgvolume, .svgtemperatura, .svgpressao, .svgarea, .svgiphone, .svgcientifica {
    padding-right: 5px;
}

.iphone {
    background-color: #FF9F0A;
}

.iphone:hover {
    background-color: #dd890a;
    transform: translateY(-1px);
}

.iphone:active {
    background-color: #dd890a;
    box-shadow: 0.5px 0.5px rgb(59, 59, 59);
    transform: translateY(2px);
}

.sigaa {
    background-color: #00853e;
}

.sigaa:hover {
    background-color: #046d35;
    transform: translateY(-1px);
}

.sigaa:active {
    background-color: #046d35;
    box-shadow: 0.5px 0.5px rgb(59, 59, 59);
    transform: translateY(2px);
}

.cientifica, .sistemas {
    background-color: #e02443;
}

.cientifica:hover, .sistemas:hover {
    background-color: #c20e2c;
    transform: translateY(-1px);
}

.cientifica:active, .sistemas:active {
    background-color: #c20e2c;
    box-shadow: 0.5px 0.5px rgb(59, 59, 59);
    transform: translateY(2px);
}

.conversoes {
    background-color: #606582;
}

.conversoes:hover {
    background-color: #474a5c;
    transform: translateY(-1px);
}

.conversoes:active {
    background-color: #474a5c;
    box-shadow: 0.5px 0.5px rgb(59, 59, 59);
    transform: translateY(2px);
}

.associacao {
    background-color: #814e13;
}

.associacao:hover {
    background-color: #663b0b;
    transform: translateY(-1px);
}

.associacao:active {
    background-color: #663b0b;
    box-shadow: 0.5px 0.5px rgb(59, 59, 59);
    transform: translateY(2px);
}

.coresresistores {
    background-color: rgb(219, 188, 123);
}

.coresresistores:hover {
    background-color: rgb(190, 160, 93);
    transform: translateY(-1px);
}

.coresresistores:active {
    background-color: rgb(190, 160, 93);
    box-shadow: 0.5px 0.5px rgb(59, 59, 59);
    transform: translateY(2px);
}

.imc {
    background-color: #194b8c;
}

.imc:hover {
    background-color: #0f3566;
    transform: translateY(-1px);
}

.imc:active {
    background-color: #0f3566;
    box-shadow: 0.5px 0.5px rgb(59, 59, 59);
    transform: translateY(2px);
}

@media(max-width: 1400px){
    svg { 
        width: 25px;
        height: 25px;
        padding-right: 5px; 
    }
}

@media(max-width: 1300px) and (min-width: 1100px){
    svg { 
        width: 0;
        height: 0;
        padding-right: 0; 
    }
}

@media(max-width: 1099px){
    .botao { 
        font-size: 20px;
    }
}

@media(max-width: 950px){
    .aplicativos { 
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container {
        padding: 50px;
    }
}

@media(max-width: 500px){
    .container { 
        padding: 20px;
    }

    svg {
        display: none;
    }
}

@media(max-height: 450px){
    .container {
        padding: 30px;
    }
}

@media(max-height: 360px){
    .container {
        padding: 10px;
    }
}

/* ============== Calculadora iPhone ============== */

.calculadora {
    background: rgb(0, 0, 0);
    color: white;
    height: 100%;
    width: 1fr;
    padding: 20px;
    border-radius: 3%;
}

.resultado {
    font-size: 100px;
    font-weight: 300;
    height: 100px;
    padding-bottom: 30px;
    margin-right: 10px;
    margin-top: 260px;
    text-align: right;
}

.botoes-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.botaoiphone {
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 85px;
    width: 85px;
    justify-content: center;
    transition: filter .3s;
}

.botaoiphone.funcao {
    color: black;
    background: #a5a5a5;
    font-size: 40px;
}

.botaoiphone.operador {
    background: #f1a33c;
    font-size: 52px;
}

.botaoiphone.numero-0 {
    border-radius: 55px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 25px;
    width: 160px;
}

.botaoiphone:active, .botaoiphone:focus {
    filter: brightness(120%);
}

/* ============== Calculadora SIGAA ============== */

.containersigaa {
   width: 40%;
   height: 100%;
   font-family: 'Hauora Sans', Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 26px;
   display: grid;
   grid-template-columns: 100%;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

.codigo-form{
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   transition: 0.3s;
   width: 100%;
}   

.entrada-form-codigo{
   display: inline-block;
   padding: 0.9rem 1.5rem;
   background: rgb(34, 34, 34);
   border: none;
   -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
   box-shadow: 0 0 7px rgb(7, 7, 7); 
   border-radius: 8px;
   width: 90%;
   font-family: 'Hauora Sans', Arial, Helvetica, sans-serif;
   font-size: 0.9rem;
   font-weight: 500;
   color: white;
   outline: none;
}

.botaosigaa {
   display: flex;
   align-self: right;
   justify-self: right;
   cursor: pointer;
   padding: 10px;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 0.5px;
   margin: 18px 9px;
   font-size: 16px;
   line-height: 16px;
   border: none;
   border-radius: 5px; 
   -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
   box-shadow: 0 0 7px rgb(7, 7, 7);
   transition: all 0.3s ease 0s;
   color: white;
   background-color: #222222;
}

.botaosigaa:hover {
    background-color: #191919;
    transform: translateY(-1px);
}

.botaosigaa:active {
    background-color: #191919;
    transform: translateY(1px);
}

.textodiv {
    background-color: #343946;
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 11px rgb(7, 7, 7);
}

.texto {
    color: white;
    padding: 13px;
    white-space: pre-line;
}

.texto span {
    font-weight: bold;
    letter-spacing: 0.8px;
}

@media(max-width: 800px){
    .containersigaa {
        width: 90%;
    } 
    
    .entrada-form-codigo{
        width: 91%;
    }
}

@media(min-width: 1400px){
    .containersigaa {
        width: 40%;
    } 
    
    .entrada-form-codigo{
        width: 92%;
    }
}

@media(min-width: 1600px){
    .containersigaa {
        width: 43%;
    } 
    
    .entrada-form-codigo{
        width: 94%;
    }
}

/* ============== Calculadora Cientifica ============== */

.calculadoracientifica {
    position: fixed;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 575px;
    height: 320px;
    padding: 15px;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
    border-radius: 7px;
}

.table {
    width: 100%;
    height: 100%;
}

.containercientifica {
    border-spacing: 5px;
}

.resultadocientifica {
    font-family: 'Hauora Sans';
    width: 100%;
    height: 52px;
    outline: none;
    text-align: right;
    font-size: 3rem;
    padding: 10px 0;
    margin-bottom: 0.8rem;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: rgb(34, 34, 34);
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7); 
}

.resultadocientifica,
.resultadocientifica::placeholder {
    font-size: 3rem;
}

.botaocientifica {
    height: 40px;
    width: 90px;
    font-size: 26px;
    margin: auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgb(88, 95, 99);
    color: white;
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
}

.botaocientifica:hover {
   background-color: rgb(67, 72, 75);  
}

.botaocientifica:active {
   transform: translateY(2px);
}

.botaocientifica.numero, .botaocientifica.decimal {
   background-color: rgb(50, 90, 112);
}

.botaocientifica.numero:hover, .botaocientifica.decimal:hover {
   background-color: rgb(43, 77, 94);
}

.botaocientifica.igualcientifica {
   background-color: rgb(7, 51, 120);
}

.botaocientifica.igualcientifica:hover {
   background-color: rgb(6, 45, 109);
}

@media(max-width: 630px) {
   .calculadoracientifica{
        width: 400px;
    }

    .botaocientifica {
        width: 60px;
    }
}

@media(max-width: 460px) {
   .calculadoracientifica{
        width: 350px;
    }

    .botaocientifica {
        width: 50px;
    }
}

@media(max-height: 370px) {
    .calculadoracientifica{
        height: 250px;
        width: 470px;
    }

    .containercientifica {
        margin: 0;
    }

    .resultadocientifica{
        font-size: 2rem;
        height: 35px;
        margin-bottom: 10px;
    }

    .botaocientifica {
        height: 30px;
        font-size: 20px;
        width: 72px;
    }
}

/* ============== Calculadora Sistemas ============== */

.calculadorasistemas{
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow: auto;
    margin: auto;
    width: 50%;
    height: 31%;
    padding: 15px;
    border-radius: 7px;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
}

.nomedacalculadora {
    display: flex;
    align-items: center;
    font-size: 27px;
    color: white;
}

.areadasesquacoes {
    display: flex;
    flex-direction: column;
    color: white;
}

.equacao1, .equacao2, .equacao3 {
    display: grid;
    /* grid-template-columns: 21.25% 5% 21.25% 5% 21.25% 5% 21.25%; */
    grid-template-columns: 8.65fr 3rem 8.65fr 3rem 8.65fr 3rem 8.65fr;
}

.inputequacao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 94%;
    padding: 5px 2px;
    margin: 10px 0;
    font-size: 32px;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 2px;
}

.variavelequacao {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    letter-spacing: 10px;
}

.arearesposta {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 10px;
    padding-top: 5px;
}

.respostasistema {
    font-size: 30px;
    color: white;
    margin-left: 0px;
}

.botaocalcular {
    display: flex;
    align-self: right;
    justify-self: right;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 22px;
    line-height: 18px;
    border: none;
    border-radius: 5px; 
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
    transition: all 0.3s ease 0s;
    color: white;
    background-color: rgb(47, 47, 47);
    transition: font-size 0.2s;
    margin-right: 5px;
}

.botaocalcular:hover {
    background-color: rgb(37, 37, 37);
    font-size: 23px;
}

.botaocalcular:active {
    background-color: rgb(37, 37, 37);
    transform: translateY(2px);
}

@media(max-width: 1900px){
    .calculadorasistemas {
        width: 55%;
    }
    .inputequacao {
        width: 90%;
    }
}

@media(max-width: 1350px){
    .calculadorasistemas {
        width: 60%;
    }
    .inputequacao {
        width: 85%;
    }
    .variavelequacao {
        margin-right: 10px;
    }
}

@media(max-width: 1100px){
    .calculadorasistemas {
        width: 70%;
    }
    .inputequacao {
        width: 80%;
    }
    .variavelequacao {
        margin-right: 10px;
    }
}

@media(max-width: 850px){
    .calculadorasistemas {
        width: 90%;
    }
    .inputequacao {
        width: 80%;
    }
    .variavelequacao {
        margin-right: 10px;
    }
}

@media(max-width: 600px){
    .calculadorasistemas {
        width: 90%;
    }
    .inputequacao {
        width: 70%;
    }
    .variavelequacao {
        margin-right: 15px;
    }

    .calcularsistemas {
        height: 41px;
        height: 41px;
        height: 41px;
    }
}

@media(max-height: 900px){
    .calculadorasistemas {
        height: 37%;
    }
}

@media(max-height: 790px){
    .calculadorasistemas {
        height: 47%;
    }
}

@media(max-height: 615px){
    .calculadorasistemas {
        height: 67%;
    }
}

@media(max-height: 430px){
    .calculadorasistemas {
        height: 87%;
    }
}

/* ============== Conversão Tempo ============== */

.conversao {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow: auto;
    margin: auto;
    width: 50%;
    padding: 20px;
    border-radius: 7px;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
    vertical-align: middle;
}

.areatempo {
    height: 60%;
}

.tempo {
    height: 54%;
}

.svgtempo2 {
    height: 25px;
    width: 25px;
    padding-left: 3px;
}

.titulo {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 10px;
}

.nomedaconversao {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
} 

.botaoconverter {
    display: flex;
    align-self: right;
    justify-self: right;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 16px;
    border: none;
    border-radius: 5px; 
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
    transition: all 0.3s ease 0s;
    color: white;
    background-color: rgb(44, 44, 44);
    transition: font-size 0.2s;
}

.botaoconverter:hover {
    background-color: rgb(37, 37, 37);
    font-size: 17px;
}

.botaoconverter:active {
    background-color: rgb(37, 37, 37);
    transform: translateY(2px);
}

.areadaconversao {
    display: flex;
    flex-direction: row;
    color: white;
}

.conversor, .convertido{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 46%;
    padding: 7px 0;
    font-size: 32px;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
}

.igual {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
    font-size: 36px;
}

.areadeselecao {
    color: white;
    display: flex;
    flex-direction: row;
}

.selecaoconversor, .selecaoconvertido{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46%;
    font-size: 16px;
    -webkit-box-shadow: 0 0 4px rgb(7, 7, 7);
    box-shadow: 0 0 4px rgb(7, 7, 7);
    background-color: rgb(44, 44, 44);
    color: white;
    border-color: rgb(0, 0, 0, 0.2);
}

.espaco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
    font-size: 36px;
    color: rgb(33, 33, 33)
}


.textoformula {
    font-size: 15px;
    color: white;
    padding: 0;
}

.cabecalho {
    display: inline-block;
    justify-content: left;
    font-size: 17px;
    padding: 10px 0 2px 0;
}

.tabelaformula {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 14px;
}

.valorestabela {
    text-align: right;
}

.unidades, .valores {
    box-shadow: 0px 1px 0px 0px rgba(7, 7, 7, 0.2);
}

*:focus {
    outline: none;
}

@media(max-width: 768px) {
    .conversao {
        width: 90%;
    }
}

@media(min-width: 1600px) {
    .conversao {
        width: 40%;
    }
}

@media(min-height: 850px) {
    .areatempo {
        height: 40%;
    }
}

/* ============== Conversão Velocidade ============== */

.svgvelocidade2 {
    height: 25px;
    width: 25px;
    padding-left: 3px;
}

.areavelocidade {
    height: 45%;
}

@media(min-height: 850px) {
    .areavelocidade {
        height: 30%;
    }
}

/* ============== Conversão Massa ============== */

.svgmassa2 {
    height: 25px;
    width: 25px;
    padding-left: 3px;
    padding-bottom: 2px;
}

.areamassa {
    height: 54%;
}

@media(min-height: 850px) {
    .areamassa {
        height: 36%;
    }
}

/* ============== Conversão Comprimento ============== */

.svgcomprimento2 {
    height: 25px;
    width: 25px;
    padding-left: 3px;
    padding-bottom: 2px;
}

.areacomprimento {
    height: 64%;
}

@media(min-height: 850px) {
    .areacomprimento {
        height: 42%;
    }
}

/* ============== Conversão Dados ============== */

.svgdados2 {
    height: 25px;
    width: 25px;
    padding-left: 3px;
}

.areadados {
    height: 76%;
}

@media(min-height: 850px) {
    .areadados {
        height: 51%;
    }
}

/* ============== Conversão Temperatura ============== */

.svgtemperatura2 {
    height: 24px;
    width: 24px;
    padding-left: 3px;
}

.areatemperatura {
    height: 39%;
}

@media(min-height: 850px) {
    .areatemperatura {
        height: 26%;
    }
}

/* ============== Conversão Volume ============== */

.svgvolume2 {
    height: 26px;
    width: 26px;
    padding-left: 3px;
}

.areavolume {
    height: 60%;
}

@media(min-height: 850px) {
    .areavolume {
        height: 40%;
    }
}

/* ============== Conversão Área ============== */

.svgarea2 {
    height: 23px;
    width: 23px;
}

.areaarea {
    height: 51%;
}

@media(min-height: 850px) {
    .areaarea {
        height: 34%;
    }
}

/* ============== Conversão Pressão ============== */

.svgpressao2 {
    height: 23px;
    width: 23px;
}

.areapressao {
    height: 45%;
}

@media(min-height: 850px) {
    .areapressao {
        height: 30%;
    }
}

/* ============== Associação ============== */

.calcAssociacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    background-color: rgb(33, 33, 33);
    color: white;
}

/* ============== Associação Resistores ============== */

.associacaoserie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1.5px solid rgb(45, 45, 45);
}

.associacaoserietopo, .associacaoparalelotopo {
    height: 40%;
}

.associacaoparalelo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1.5px solid rgb(45, 45, 45);
}

.tituloassociacao {
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    text-align: center;
}

.areaimagemserie, .areaimagemparalelo {
    padding: 5px;
    padding-left: 10px;
    align-self: center;
}

.imagemserie, .imagemparalelo {
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imagemparalelo {
    width: 40%;
}

.formulaassociacao {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    padding: 10px;
    padding-left: 10px;
    text-align: center;
}

.areadaassociacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-top: 2px solid rgb(45, 45, 45);
    border-bottom: 2px solid rgb(45, 45, 45);
}

.linha {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.nomeresistor {
    padding-right: 5px;
    font-size: 1.5rem;
}

.nomeresistor span {
    color: rgb(33, 33, 33);
}

.inputresistores {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 1px;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(7, 7, 7);
}

.inputresistoresserie {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 1px;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(7, 7, 7);
}

.inputresistoresparalelo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 1px;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 7px rgba(7, 7, 7, 1);
    box-shadow: 0 0 7px rgba(7, 7, 7, 1);
}

.unidadesresistores {
    padding-left: 10px;
}

.selecaounidadesresistores {
    width: 165%;
    height: 110%;
    -webkit-box-shadow: 0 0 4px rgb(7, 7, 7);
    box-shadow: 0 0 4px rgb(7, 7, 7);
    background-color: rgb(44, 44, 44);
    color: white;
    border-color: rgb(0, 0, 0, 0.2);
}

.botaoassociar {
    display: inline-block;
    align-self: right;
    justify-self: right;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 16px;
    border: none;
    border-radius: 5px; 
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
    transition: all 0.3s ease 0s;
    color: white;
    background-color: rgb(44, 44, 44);
    transition: font-size 0.2s;
}

.botaoassociar:hover {
    background-color: rgb(37, 37, 37);
    font-size: 17px;
}

.botaoassociar:active {
    background-color: rgb(37, 37, 37);
    transform: translateY(2px);
}

.resistenciaequivalente {
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 22px;
}

@media (max-width: 1080px) {
    .calcAssociacao {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
        background-color: rgb(33, 33, 33);
        color: white;
    }
}

@media (max-width: 550px) {
    .associacaoserietopo, .associacaoparalelotopo {
        height: 30%;
    }
    
    .tituloassociacao {
        font-size: 1.3rem;
    }
    
    .formulaassociacao {
        font-size: 1.2rem;
    }
    
    .nomeresistor {
        padding-right: 5px;
        font-size: 1.2rem;
    }
    
    .inputresistores {
        width: 60%;
    }
    
    .unidadesresistores {
        padding-left: 10px;
    }
    
    .selecaounidadesresistores {
        width: 80%;
    }
    
    .resistenciaequivalente {
        font-size: 19px;
    }
}

/* ============== Associação Capacitores ============== */

.nomecapacitor {
    padding-right: 5px;
    font-size: 1.5rem;
}

.nomecapacitor span {
    color: rgb(33, 33, 33);
}

.inputcapacitores {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 1px;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(7, 7, 7);
}

.inputcapacitoresserie {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 1px;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(7, 7, 7);
}

.inputcapacitoresparalelo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 1px;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 7px rgba(7, 7, 7, 1);
    box-shadow: 0 0 7px rgba(7, 7, 7, 1);
}

.unidadescapacitores {
    padding-left: 10px;
}

.selecaounidadescapacitores {
    width: 165%;
    height: 110%;
    -webkit-box-shadow: 0 0 4px rgb(7, 7, 7);
    box-shadow: 0 0 4px rgb(7, 7, 7);
    background-color: rgb(44, 44, 44);
    color: white;
    border-color: rgb(0, 0, 0, 0.2);
}

.capacitanciaequivalente {
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 22px;
}

@media (max-width: 550px) {
    .associacaoserietopo, .associacaoparalelotopo {
        height: 30%;
    }
    
    .tituloassociacao {
        font-size: 1.3rem;
    }
    
    .formulaassociacao {
        font-size: 1.2rem;
    }
    
    .nomecapacitor {
        padding-right: 5px;
        font-size: 1.2rem;
    }
    
    .inputcapacitores {
        width: 60%;
    }
    
    .unidadescapacitores {
        padding-left: 10px;
    }
    
    .selecaounidadescapacitores {
        width: 80%;
    }
    
    .capacitanciaequivalente {
        font-size: 19px;
    }
}

/* ============== Associação Indutores ============== */

.nomeindutor {
    padding-right: 5px;
    font-size: 1.5rem;
}

.nomeindutor span {
    color: rgb(33, 33, 33);
}

.inputindutores {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 1px;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(7, 7, 7);
}

.inputindutoresserie {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 1px;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(7, 7, 7);
}

.inputindutoresparalelo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 1px;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 7px rgba(7, 7, 7, 1);
    box-shadow: 0 0 7px rgba(7, 7, 7, 1);
}

.unidadesindutores {
    padding-left: 10px;
}

.selecaounidadesindutores {
    width: 165%;
    height: 110%;
    -webkit-box-shadow: 0 0 4px rgb(7, 7, 7);
    box-shadow: 0 0 4px rgb(7, 7, 7);
    background-color: rgb(44, 44, 44);
    color: white;
    border-color: rgb(0, 0, 0, 0.2);
}

.indutanciaequivalente {
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 22px;
}

@media (max-width: 550px) {
    .associacaoserietopo, .associacaoparalelotopo {
        height: 30%;
    }
    
    .tituloassociacao {
        font-size: 1.3rem;
    }
    
    .formulaassociacao {
        font-size: 1.2rem;
    }
    
    .nomeindutor {
        padding-right: 5px;
        font-size: 1.2rem;
    }
    
    .inputindutores {
        width: 60%;
    }
    
    .unidadesindutores {
        padding-left: 10px;
    }
    
    .selecaounidadesindutores {
        width: 80%;
    }
    
    .indutanciaequivalente {
        font-size: 19px;
    }
}

/* ========== Códigos de Resistores ==========  */

.areacodigocores {
    position: fixed;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 900px;
    height: 350px;
    padding: 15px;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
    border-radius: 7px;
}

.areaselecaocor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}

.selecaocor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    font-size: 20px;
    -webkit-box-shadow: 0 0 4px rgb(7, 7, 7);
    box-shadow: 0 0 4px rgb(7, 7, 7);
    background-color: rgb(44, 44, 44);
    color: white;
    border-color: rgb(0, 0, 0, 0.2);
}

.areavalorresistor {
    margin: 15px 0;
    height: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.valorresistor {
    display: flex;
    align-items: center;
    font-size: 34px;
    margin-left: 5px;
    font-weight: bold;
} 

.botaocalcularresistor {
    display: flex;
    align-self: right;
    justify-self: right;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    height: 50px;
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 5px; 
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
    color: white;
    background-color: rgb(44, 44, 44);
    transition: all 0.3s ease 0s;
    transition: font-size 0.2s;
}


.botaocalcularresistor:hover {
    background-color: rgb(39, 39, 39);
    font-size: 31px;
}

.botaocalcularresistor:active {
    background-color: rgb(39, 39, 39);
    transform: translateY(2px);
}

.areaimagemresistor {
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
    border-radius: 7px;
    padding: 20px 0;
    margin-top: 20px;
}

.resistor {
    margin-left: 10%;
}

.resistor .resistor-stick.left {
    border-radius: 10px 0 0 10px;
    background-color: #464646;
}

.resistor .resistor-stick {
    width: 9%;
    padding-top: 2%;
    margin-bottom: 9.5%;
}

.resistor .left-left, .resistor .right-left {
    border-radius: 12px 0 0 12px;
    width: 9%;
    padding-top: 20%;
}

.resistor > * {
    background-color: rgb(219, 188, 123);
}

.resistor>* {
    display: inline-block;
    margin-left: -4px;
    background-color: rgb(219, 188, 123);
}

.resistor .band.none, .resistor .band-spacing.none {
    background-color: rgb(219, 188, 123);
}

.resistor .band.none, .resistor .band-spacing.none {
    background-color: rgb(219, 188, 123);
}
.resistor .band, .resistor .band-spacing {
    position: relative;
    width: 3%;
    padding-top: 15.5%;
    margin-bottom: 2%;
}

.tolerancia {
    padding-top: 20%;
}

.resistor .left-band, .resistor .right-band {
    padding-top: 20% !important;
    margin-bottom: 0 !important;
}

.resistor .left-right, .resistor .right-right {
    border-radius: 0 12px 12px 0;
    width: 9%;
    padding-top: 20%;
}

.resistor .resistor-stick.right {
    border-radius: 0 10px 10px 0;
    background-color: #464646;
}

@media (max-width: 950px) {
    .areacodigocores {
        width: 95%;
    }

    .valorresistor {
        font-size: 28px;
    }
    
    .botaocalcularresistor {
        font-size: 28px;
    }
}

@media (max-width: 750px) {
    .areacodigocores {
        height: 480px;
        width: 92%;
        display: flex;
        flex-direction: column;
    }
    
    .areaselecaocor {
        display: flex;
        flex-direction: column
    }

    .selecaocor {
        margin-bottom: 5px;
    }

    .quatro {
        margin-bottom: 0;
    }

    .areaimagemresistor {
        margin-top: 0;
    }
}

@media (max-width: 660px) {
    .areavalorresistor {
        margin: 5px 0;
    }
    
    .valorresistor {
        font-size: 20px;
    }

    .botaocalcularresistor {
        margin-top: 8px;
        height: 35px;
        font-size: 16px;
        line-height: 16px;
    }
}

@media (max-width: 500px) {
    .valorresistor {
        font-size: 16px;
    }

    .botaocalcularresistor {
        margin-top: 8px;
        height: 35px;
        font-size: 14px;
        line-height: 14px;
    }
}

/* ========== Calculadora IMC ==========  */

.areaimc {
    position: fixed;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 575px;
    height: 240px;
    padding: 15px;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
    border-radius: 7px;
}

.areacalculo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nomeimc-1, .nomeimc-2, .nomeimc-3 {
    margin: 0 3px;
    font-size: 20px;
    align-self: center;
    justify-self: center;
}

.nomeimc-1 span, .nomeimc-2 span{
    font-size: 14px;
}

.nomeimc-3 {
    font-weight: bold;
}

.imccalculado, .imcclassificacao {
    font-size: 22px;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

.entradaimc-1, .entradaimc-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: left;
    justify-self: left;
    width: 95%;
    padding: 7px 0;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
}

.botaoimc-1, .botaoimc-2  {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: left;
    justify-self: left;
    width: 95%;
    padding: 7px 0;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px rgb(59, 59, 59);
    -webkit-box-shadow: 0 0 7px rgb(7, 7, 7);
    box-shadow: 0 0 7px rgb(7, 7, 7);
    text-decoration: none;
}

.botaoimc-1 {
    background-color: #194b8c;
}

.botaoimc-2 {
    background-color: #d64705;
}

.botaoimc-1:hover {
    background-color: #0f3566;
    transform: translateY(-1px);
}

.botaoimc-2:hover {
    background-color: #ad3a04;
    transform: translateY(-1px);
}

.botaoimc-1:active {
    background-color: #0f3566;
    transform: translateY(1px);
}

.botaoimc-2:active {
    background-color: #ad3a04;
    transform: translateY(1px);
}

.areaformula {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 5px;
}

.tituloimc {
    font-size: 15px;
    font-weight: bold;
    color: #194b8c;
}

.valortabelaimc {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 1px 0px 0px rgba(7, 7, 7, 0.3);
}

@media (max-width: 620px) {
    .areaimc {
        width: 450px;
    }

    .imccalculado {
        font-size: 22px;
    } 

    .imcclassificacao {
        font-size: 17px;
    }
}

@media (max-width: 500px) {
    .areaimc {
        width: 400px;
    }
    
    .valortabelaimc {
        font-size: 12px;
    }

    .imccalculado {
        font-size: 22px;
    } 

    .imcclassificacao {
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    .areaimc {
        width: 95%;
        height: 17%;
        padding: 10px 5px;
    }
    
    .valortabelaimc {
        font-size: 12px;
    }

    .imccalculado {
        font-size: 22px;
    } 

    .imcclassificacao {
        font-size: 15px;
    }

    .areaformula {
        display: none;
    }

}